@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-image: url("assets/bg-8.png");
    background-size:cover ;
    background-color: #270B54;
    background-repeat: no-repeat;
 
    width: 100vw;
    height: 100vh;
}
.loader{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(95deg, #0d47a1, #0a2342);
    background-size: 400% 400%;
    -webkit-animation: loaderbg 9s ease infinite;
    -moz-animation: loaderbg 9s ease infinite;
    animation: loaderbg 9s ease infinite;
}
@-webkit-keyframes loaderbg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes loaderbg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes loaderbg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
.loader-text{
    color: whitesmoke;
}

.loaded{
   
  
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
nav div{

}
nav div a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #5E48B4;
}
.logan{
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.5rem;
     
}
nav >div a:hover{

   background-image: linear-gradient(to right, #f857a6 0%, #ff5858  51%, #f857a6  100%);
    transition: 0.5s;
       background-size: 150% auto;
       color: white;            
      
       border-radius: 10px;
}

.head-section{
    display: flex;
    flex-direction: row;
}
.svg{
    width:70%;
    display: block; 
}
.head-content{
    text-align: center;
    padding-top: 80px;
  
}
.head-content >h1{
    font-size: 1.5rem;
    color: #CB65FF;
    position: relative;
    left: -50%;
    text-transform: uppercase;
    margin: none;
}
.head-content>h1:first-of-type {
    margin: 10px;
    font-size: 5rem;
    position: relative;
    left: -50%;
    margin-top: 30px;
    color: white;
}
.quote{
    margin: 20px;
}
.quote span{
    margin-top: 20px;
    color: #AAA5CD;
    position: relative;
    justify-content: center;
    left: -50%;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.btn{
    left: -80%;
	display:block;
	margin:auto;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}
.btn-box{
	margin: auto;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.btn-container{
	height:80px;
	width:230px;
	margin:auto;
	position:relative;
	z-index:0;
}
.btn-arrow-slide-cont {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	width: 180px;
	height: auto;
}
.btn-arrow-slide-cont:hover{
	background:transparent;
}
.btn-arrow-slide-circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 1.625rem;
}
.btn-arrow-slide-circle .btn-arrow-slide-icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}
.btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
.btn-arrow-slide-arrow::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}
.btn-arrow-slide-text {
    text-decoration: none;
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 30%;
	left: -90%;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}
.btn-arrow-slide-cont:hover .btn-arrow-slide-circle {
	width: 100%;
}
.btn-arrow-slide-cont:hover .btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
	background: #fff;
	transform: translate(1rem, 0);
}
.btn-arrow-slide-cont:hover .btn-arrow-slide-text {
	color: #fff;
}
.btn-arrow-slide-cont--green .btn-arrow-slide-circle{
	background: rgb(83, 187, 107);
}
.btn-arrow-slide-cont--green .btn-arrow-slide-text{
	color: rgb(83, 187, 107);
}


.skills-section{
    display: grid;
    justify-content: center;
    grid-template: repeat(1,1fr)/repeat(2,1fr);
    
}
.skills-card {
    background-color: rgba(255,255,255,0.05);
   margin: 10px;
    padding: 20px;
    font-size: 1.2rem;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    width: 90%;
}
.skills-card header{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

    
}
.skills-card article{
    color: rgba(255,255,255,0.3);
    
}
.skills-card:hover article{
    color: rgba(255,255,255,0.5);
    transform: scale(0.5em);
    transition: transform .5s ,color 0.5s;
    cursor: pointer;
}
.about-me {
    padding: 10px;
    color: white;
    justify-self: center;
   
}
.about-me header{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.about-me h3{
    margin-bottom: 10px;
    font-size: 1.7rem;
}
.about-me p{
    max-width: 50ch;
    font-size: 1.2rem;
    line-height: 35px;
    margin: 20px 10px 20px 0;
 
}
.about-me p:first-of-type{
    max-width: 50ch;
    font-size: 1.3rem;
    line-height: 35px;
    margin: 20px 10px 20px 0;
    color: rgba(255,255,255,0.5);
}

.headings{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}
.project-dis{
    display: grid;
    margin: 5px;
    padding: 5px;
    grid-template: repeat(2,1fr)/repeat(4,1fr);

}
.project-card{
    background-color:#5E48B4 ;
    margin: 5px;
    border-radius: 10px;
    max-width: 350px;
   
}
.project-card header{
    text-align: center;
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #5E48B4;
    color: white;
}
.project-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s;
    
}
.project-card img:hover{
    opacity: 0.7;
}
.project-card a{
    display: flex;
    margin-top: 5px;
   align-items: center;
   justify-content: center;
   color: #CB65FF;
}
.project-card i{
    font-size: 1.5rem;
}
.project-card p{
   color: white;
   transition: 0.5s;
   justify-content: center;
   padding: 10px;
}
.project-card p:hover{
    color: whitesmoke;
    cursor: default;
 }

.design-works{
    margin: 20px 0;
    padding: 20px;
  
    
}

.design-works img {

    width: 200px;
    height: 270px;
    object-fit:cover;
    margin: 10px;
    -webkit-box-reflect:below 0.5px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .design-works .container {
    flex-wrap: wrap;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    
  }
  .design-works .container:hover img {
    opacity:0.3;
  }
  .design-works .container img:hover {
    transform:perspective(800px) rotateY(0deg);
    opacity:1;
  }

.contact {
      display: flex;
       background-color: #5E48B4;
      flex-direction: row;
        justify-content: space-around;
      align-items: center;
      font-size: 2rem;
      color: #AAA5CD;
      
  }

.contact .work{
    color: white;
    padding: 30px;
}
.red{
    
    color: #ff5858;
    
}

.hireme{
    background-color: #270B54;
    padding: 10px 20px;
    border: none;
    color: #AAA5CD;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.hireme:hover{
    background-color: #AAA5CD;
    color: #270B54;
}
footer{
    padding: 10px;
    text-align: center;
    color: #AAA5CD;
    background-color: #5E48B4;
    ;
}
.wrapper {
    display: inline-flex;
  }
  
  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }

  
@media only screen and (max-width: 600px) {
    body{
        
        margin: 0;
        padding: 0;
        overflow-x: none;
    }
    nav  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5px;
    }
  
    nav div a{
        text-decoration: none;
       font-size: 0.7rem;
        
    }
    .logan{
        display: none;
         
    }
    nav >div a:hover{
    
       background-image: linear-gradient(to right, #f857a6 0%, #ff5858  51%, #f857a6  100%);
        transition: 0.5s;
           background-size: 150% auto;
           color: white;            
          
           border-radius: 10px;
    }
    .svg{
      display: none;
    }
    .head-section{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .head-content{
        text-align: center;
        padding-top: 10px;
        margin-top: 0;
    }
    .head-content >h1{
        font-size: 1rem;
        position: relative;
        left: 0;
        
    }
    .head-content>h1:first-of-type {
      
        font-size: 2rem;
        position: relative;
        left: 0%;
     
    }
    .quote{
        margin: 20px;
    }
    .quote span{
       
        left: -0%;
        
    }
    .btn{
    left: 0%;
	}
    .btn-arrow-slide-text {
       
        top: 35%;
        left: 0%;
    }
    .skills-section{
       
       
        grid-template: repeat(1,1fr)/repeat(1,1fr);
    }
    .myskills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    
    .project-dis{
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        grid-template-columns:100%;
    }
    .contact{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
.about-me {
    padding: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-me header{
    margin: 10px;
    font-size: 1rem;
}
.about-me h3{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.about-me p{
    text-align: center;
    max-width: 50ch;
    font-size: 1rem;
    line-height: 35px;
    margin: 2px;
 
}
.about-me p:first-of-type{
    text-align: center;
    max-width: 50ch;
    font-size: 1rem;
    line-height: 35px;
    margin: 0;
    color: rgba(255,255,255,0.5);
}

.design-works img {

    width: 100px;
    height: 140px;
    
  }
  .contact{
      font-size: 1.3rem;
  }
  .skills-card header{
      color: #CB65FF;
  }
  .skills-card article{
    color: white;
    }
}